#================================================
# Python
#================================================

/**/build/
/**/dist/
/**/main.spec
/**/__pycache__/
/**/*.pyc

#================================================
# data
#================================================

/**/data/
